<html>
<head>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>

<h1>Create new Mock</h1>

<form method="post" action="/create">
    <label for="key">Name for this Mock</label>

    <br>
    <input id="key" name="key" type="text" placeholder="Your custom name for this mock (optional)"
    style="width: 500px;">

    <br>
    <label for="content">Mock Data</label>

    <br>
    <textarea id="content" name="content" style="width: 500px;" rows="40"></textarea>

    <br>
    <button type="submit">Save</button>
</form>

<a href="/">Cancel</a>

</body>
</html>
